<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
{% block head %}
    {% include "head.html" %}
{% endblock %}
    <body>
        <section class="section has-background-info">
            <div class="container">
                <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'index' %}">
                            <img src="{% static 'img/Bibli.png' %}" width="128" height="512">
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu has-background-info">
                        <div class="navbar-end">
                            <a class="navbar-item has-text-white has-background-info" href="{% url 'index' %}">
                                Início
                            </a>
                            <div class="navbar-item dropdown is-hoverable has-text-white">
                                <div class="dropdown-trigger">
                                    <li class="is-inline-block" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Autores</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-cliente" role="menu" style="z-index: 1000;">
                                    <div class="dropdown-content">
                                        <a href="{% url 'autor_adicionar' %}" class="dropdown-item">
                                            Cadastrar autor
                                        </a>
                                        <a href="{% url 'autores' %}" class="dropdown-item">
                                            Listar autores
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="navbar-item dropdown is-hoverable has-text-white">
                                <div class="dropdown-trigger">
                                    <li class="is-inline-block" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Livros</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-funcionario" role="menu" style="z-index: 1000;">
                                    <div class="dropdown-content">
                                        <a href="{% url 'livro_adicionar' %}" class="dropdown-item">
                                            Cadastrar livro
                                        </a>
                                        <a href="{% url 'livros' %}" class="dropdown-item">
                                            Listar livros
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="navbar-item dropdown is-hoverable has-text-white">
                                <div class="dropdown-trigger">
                                    <li class="is-inline-block" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Leitores</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-servico" role="menu" style="z-index: 1000;">
                                    <div class="dropdown-content">
                                        <a href="{% url 'leitor_adicionar' %}" class="dropdown-item">
                                            Cadastrar leitor
                                        </a>
                                        <a href="{% url 'leitores' %}" class="dropdown-item">
                                            Listar leitores
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="navbar-item dropdown is-hoverable has-text-white">
                                <div class="dropdown-trigger">
                                    <li class="is-inline-block" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Emprestimos</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-produto" role="menu" style="z-index: 1000;">
                                    <div class="dropdown-content">
                                        <a href="{% url 'emprestimo_adicionar' %}" class="dropdown-item">
                                            Cadastrar emprestimo
                                        </a>
                                        <a href="{% url 'emprestimos' %}" class="dropdown-item">
                                            Listar emprestimos
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    {% block content %} {% endblock %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    </body>
</html>