{% extends "base.html" %}
{% block content %}
    <section class="hero is-link is-spaced has-background-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-size-1">Biblioteca</h1>
                <p class="title is-size-1">Agendamento de Empréstimos</p>
                <p class="subtitle is-size-4">Sistema para agendamento de empréstimos de livros</p>
            </div>
        </div>
    </section>

    {% block registros %}
        {% include "registros.html" %}
    {% endblock %}

{% endblock %}