<section class="section has-background-primary-light">
    <div class="container">
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Autores</p>
                            <p class="title">{{ qtd_autores }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Livros</p>
                            <p class="title">{{ qtd_livros }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Leitores</p>
                            <p class="title">{{ qtd_leitores }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Empréstimos</p>
                            <p class="title">{{ qtd_emprestimos }}</p>
                        </div>
                    </div>

                </div>
    </div>
</section>