{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section has-background-link-light">
        <div class="container">
            <form action="" method="GET">
                <div class="field is-grouped is-flex is-align-items-center is-flex-wrap-wrap">
                    <label class="label p-2 mt-2">Nome do Leitor ou Título do Livro: </label>
                    <div class="control is-expanded">
                        <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Digite o nome do leitor ou título do livro">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div style="text-align: center;"><h1 class="subtitle is-size-4">Empréstimos Registrados</h1></div>
                <div class="table">
                    <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Leitor</th>
                                <th class="has-text-centered">Livro(s) Emprestados</th>
                                <th class="has-text-centered">Data do Empréstimo</th>
                                <th class="has-text-centered">Data de Devolução</th>
                                <th class="has-text-centered">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprestimo in object_list %}
                                <tr>
                                    <td> {{ emprestimo.leitor.nome }} </td>
                                    <td>
                                        {% for livro in emprestimo.livros.all %}
                                          {% if forloop.last %}
                                            {{ livro.titulo }}
                                          {% else %}
                                            {{ livro.titulo }},
                                          {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td> {{ emprestimo.data_emprestimo }} </td>
                                    <td> {{ emprestimo.data_devolucao }} </td>
                                    <td> {{ emprestimo.get_status_display }} </td>
                                    <td class="has-text-centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                                        <a href="{% url 'emprestimo_editar' emprestimo.pk %}">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                        <a href="{% url 'emprestimo_apagar' emprestimo.pk %}">
                                            <span class="icon">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h2>Não existem empréstimos registrados!</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}
