{% extends 'base.html' %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <h3 class="title is-size-3">Dados do Empréstimo</h3>
          <p class="p-2 mt-2"><strong>Nome: </strong> {{ object.nome }} </p>
          <p class="p-2 mt-2"><strong>Leitor: </strong> {{ object.leitor }} </p>
          <p class="p-2 mt-2"><strong>Livros emprestados: </strong> {{ object.livros.all|join:', ' }} </p>
          <p class="p-2 mt-2"><strong>Data de Empréstimo: </strong> {{ object.data_emprestimo }} </p>
          <p class="p-2 mt-2"><strong>Data de Devolução: </strong> {{ object.data_devolucao }} </p>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p> Confirma a exclusão do empréstimo "{{ object }}"? </p>
            <br/>
            <button class="button is-link is-primary" type="submit">Apagar</button>
            <button class="button is-danger is-pulled-right" type="reset">
              <a href="{% url 'emprestimos' %}">Cancelar</a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
