{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="column is-mobile">
                <div class="column is-half is-off-set-one-quarter">
                    <h3 class="title is-size-3">Cadastro de autor</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <label class="label is-capitalized">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button class="button is-link is-primary" type="submit">Salvar</button>
                        <button class="button is-danger is-pulled-right" type="reset">
                            <a href="{% url 'autores' %}">Cancelar</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
