{% extends 'base.html' %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <h3 class="title is-size-3">Dados do Autor</h3>
          <p class="p-2 mt-2"><strong>Nome: </strong> {{ object.nome }} </p>
          <p class="p-2 mt-2"><strong>Ano de Nascimento: </strong> {{ object.ano_nascimento }} </p>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p> Confirma a exclusão do autor "{{ object }}"? </p>
            <br/>
            <button class="button is-link is-primary" type="submit">Apagar</button>
            <button class="button is-danger is-pulled-right" type="reset">
              <a href="{% url 'autores' %}">Cancelar</a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
