{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section has-background-link-light">
        <div class="container">
            <form action="" method="GET">
                <div class="field is-grouped is-flex is-align-items-center is-flex-wrap-wrap">
                    <label class="label p-2 mt-2">Título do Livro: </label>
                    <div class="control is-expanded">
                        <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Digite o título do livro">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div style="text-align: center;"><h1 class="subtitle is-size-4">Livros Cadastrados</h1></div>
                <div class="table">
                    <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Título</th>
                                <th class="has-text-centered">Autor</th>
                                <th class="has-text-centered">Gênero</th>
                                <th class="has-text-centered">Número de Cópias</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for livro in object_list %}
                                <tr>
                                    <td> {{ livro.titulo }} </td>
                                    <td> {{ livro.autor.nome }} </td>
                                    <td> {{ livro.genero }} </td>
                                    <td> {{ livro.copias }} </td>
                                    <td class="has-text-centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                                        <a href="{% url 'livro_editar' livro.pk %}">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                        <a href="{% url 'livro_apagar' livro.pk %}">
                                            <span class="icon">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h2>Não existem livros cadastrados!</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}
