{% extends 'base.html' %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <h3 class="title is-size-3">Dados do Livro</h3>
          <p class="p-2 mt-2"><strong>Título: </strong> {{ object.titulo }} </p>
          <p class="p-2 mt-2"><strong>Autor: </strong> {{ object.autor }} </p>
          <p class="p-2 mt-2"><strong>Gênero: </strong> {{ object.genero }} </p>
          <p class="p-2 mt-2"><strong>Cópias Disponíveis: </strong> {{ object.copias }} </p>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p> Confirma a exclusão do livro "{{ object }}"? </p>
            <br/>
            <button class="button is-link is-primary" type="submit">Apagar</button>
            <button class="button is-danger is-pulled-right" type="reset">
              <a href="{% url 'livros' %}">Cancelar</a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
